:root {
    --progresspontinho: 0%;
    --main-bg: #0f1923;
    --text-color: #ffffff;
    --accent: #00ff9f;
    --loss: #f87171;
    --win: #4ade80;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
    color: var(--text-color);
}

#overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( to bottom right, rgb(0, 0, 0), rgba(0, 255, 159, 0));
    border-radius: 16px;
    padding: 20px;
    max-width: 320px;
    border: none;
    backdrop-filter: none;
}

.rank-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

#imgRank {
    width: 64px;
    height: 64px;
}

.rank-info {
    display: flex;
    flex-direction: column;
}

#headerburrao {
    font-weight: 900;
    font-size: 18px;
    /* Increased size */
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#WLvalue {
    font-size: 16px;
    opacity: 1;
    font-weight: 500;
    color: #cccccc;
}

.progress-section {
    width: 100%;
    margin-top: 12px;
    position: relative;
}

.rr-bar {
    background: #1f2937;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 10px;
}

.rr-fill {
    height: 100%;
    width: var(--progresspontinho);
    background: linear-gradient(90deg, #00ff9f, #00e0ff);
    transition: width 0.3s ease;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.rr-text {
    position: absolute;
    top: -24px;
    right: 0;
    font-size: 14px;
    font-weight: bold;
}

.last-match {
    margin-top: 12px;
    font-size: 14px;
    color: var(--loss);
}

#mmrDisplay {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 4px;
    color: #000103;
}

.peak-rank {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 4px;
    font-size: 13px;
    font-weight: 500;
}

#peakLabel {
    color: #ffffff;
    /* Light blue for label */
}

#peakRankText {
    color: #75d3ff;
    /* White for rank name */
}

#peakRankIcon {
    width: 20px;
    height: 20px;
}